.form-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // height: 100vh;
  width: 1078px;
  height: 100vh;
  margin: 0 auto;
}

.form-container {
  display: flex;
  background: white;
  // border-radius: 18px;
  margin: 0 auto;
  height: auto;
  width: 1078px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

  .form-left {
    width: 500px;
    height: 350px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    // border-top-left-radius: 18px;
    // border-bottom-left-radius: 18px;
    .img {
      width: 95%;
      height: 95%;
      padding: 1rem;
      object-fit: contain;
    }
    h1 {
      color: black;
    }
  }

  .form-right {
    margin: 1rem auto;
    height: auto;
    // text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    h5 {
      margin: 0;
      color: gray;
      font-weight: 300;
    }
  }
}

form {
  height: auto;
  width: 100%;

  .title-input {
    margin-bottom: 1rem;
    outline: none;
    border: none;
    font-size: 1.5rem;
    border-bottom: 1px solid black;
    position: relative;
    padding-left: 0.5rem;
  }

  input::placeholder {
    color: gray;
    font-size: 1.5rem;
  }

  .error-message {
    margin-top: -0.8rem;
    font-size: 0.8rem;
    color: #ef7a85;
  }

  textarea {
    resize: none;
    width: 95%;
    height: 100px;
    max-height: 150px;
    outline: black;
    border: 1px solid black;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    padding-left: 0.5rem;
    margin-right: 2rem;
  }
  textarea::placeholder {
    font-family: "Roboto", sans-serif;
    width: 100%;
  }

  .upload-image {
    margin-bottom: 0;
    cursor: pointer;
  }

  button {
    background: white;
    outline: none;
    border: none;
    width: 150px;
    height: 35px;
    color: black;
    border: 1px solid black;
    font-weight: 600;
    cursor: pointer;
    float: right;
    margin-right: 1rem;
    font-size: 1.2rem;
    transition: all 0.2s ease;
    &:hover {
      background: black;
      color: white;
    }
  }
}

.removeImage {
  width: 90px;
  height: 90px;
  cursor: pointer;
  background: red;
}
