.navbar-container {
    height: 10vh;
    width: 100%;
    background: black;
    position: fixed;
    color: white;
    left: 50%;
    transform: translate(-50%, 0);

    .navbar-right {
        display: flex;
        justify-content: space-between;
        p {
            margin-left: 2rem;
        }
    }

    .flex {
        display: flex;
        justify-content: space-between;
    align-items: center;

    }
}