.form-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1078px;
  height: 100vh;
  margin: 0 auto;
}

.form-container {
  display: flex;
  background: white;
  margin: 0 auto;
  height: auto;
  width: 1078px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.form-container .form-left {
  width: 500px;
  height: 350px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container .form-left .img {
  width: 95%;
  height: 95%;
  padding: 1rem;
  object-fit: contain;
}
.form-container .form-left h1 {
  color: black;
}
.form-container .form-right {
  margin: 1rem auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

form {
  height: auto;
  width: 100%;
}
form .title-input {
  margin-bottom: 1rem;
  outline: none;
  border: none;
  font-size: 1.5rem;
  border-bottom: 1px solid black;
  position: relative;
  padding-left: 0.5rem;
}
form input::placeholder {
  color: gray;
  font-size: 1.5rem;
}
form .error-message {
  margin-top: -0.8rem;
  font-size: 0.8rem;
  color: #ef7a85;
}
form textarea {
  resize: none;
  width: 95%;
  height: 100px;
  max-height: 150px;
  outline: black;
  border: 1px solid black;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  padding-left: 0.5rem;
  margin-right: 2rem;
}
form textarea::placeholder {
  font-family: "Roboto", sans-serif;
  width: 100%;
}
form .upload-image {
  margin-bottom: 1rem;
}
form button {
  background: white;
  outline: none;
  border: none;
  width: 150px;
  height: 35px;
  color: black;
  border: 1px solid black;
  font-weight: 600;
  cursor: pointer;
  float: right;
  margin-right: 1rem;
  font-size: 1.2rem;
  transition: all 0.2s ease;
}
form button:hover {
  background: black;
  color: white;
}

.posts-container .blog-post-title {
  color: #3c91e6;
  font-size: 2rem;
}

.new-posts-title {
  font-weight: 400;
  font-size: 2rem;
}

.post-container {
  display: flex;
  height: 150px;
  justify-content: space-between;
  background: white;
  margin-bottom: 0.5rem;
}
.post-container .post-container-left {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: center;
  border-right: 2px solid #bfefd4;
}
.post-container .blog-title {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 0.4rem;
  color: #FE654F;
}
.post-container .blog-body {
  font-size: 1rem;
  font-weight: 400;
  color: gray;
  margin: 0;
  padding-right: 0.5rem;
}

.socials {
  width: 25%;
  display: flex;
  font-weight: 400;
  justify-content: space-between;
  color: #2386c3;
}

.social-icons {
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  cursor: pointer;
}
.social-icons:hover {
  transform: scale(1.02);
}
.social-icons:hover .social-icon-icons {
  color: red;
}
.social-icons p {
  margin-left: 0.5rem;
}

.border-bottom {
  border-bottom: 1px dotted rgb(210, 127, 127);
  margin-bottom: 3rem;
}

.navbar-container {
  position: relative;
  z-index: 99;
  height: 75px;
  width: 100%;
  background: black;
  position: fixed;
  color: white;
}
.navbar-container .navbar-right {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: auto;
}
.navbar-container .navbar-right .navLink {
  margin: 0;
  margin-left: 2rem;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease;
}
.navbar-container .navbar-right .navLink:hover {
  transform: scale(1.02);
}
.navbar-container .navbar-right .userName {
  margin: 0;
  margin-left: 2rem;
  color: white;
}
.navbar-container .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.background-landing {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1032%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(102%2c 191%2c 140%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c574.787C105.862%2c582.961%2c197.768%2c501.683%2c276.957%2c430.953C347.863%2c367.621%2c391.188%2c283.005%2c425.81%2c194.461C458.811%2c110.062%2c470.346%2c22.744%2c472%2c-67.863C473.938%2c-174.066%2c494.805%2c-289.391%2c436.259%2c-378.021C375.896%2c-469.403%2c267.652%2c-527.575%2c159.04%2c-541.641C56.055%2c-554.978%2c-31.19%2c-473.918%2c-132.63%2c-451.697C-244.809%2c-427.124%2c-385.24%2c-485.321%2c-466.859%2c-404.535C-547.616%2c-324.601%2c-523.032%2c-187.231%2c-514.278%2c-73.942C-506.885%2c21.733%2c-468.126%2c108.701%2c-420.75%2c192.15C-376.91%2c269.37%2c-316.464%2c330.463%2c-250.77%2c390.206C-172.395%2c461.482%2c-105.624%2c566.631%2c0%2c574.787' fill='%2338865a'%3e%3c/path%3e%3cpath d='M1440 919.892C1508.164 931.0219999999999 1576.445 900.0550000000001 1634.9859999999999 863.405 1693.99 826.466 1747.672 776.875 1772.391 711.798 1796.435 648.498 1787.703 577.648 1768.153 512.819 1750.417 454.006 1701.787 413.889 1667.2350000000001 363.099 1627.094 304.094 1618.446 204.80399999999997 1548.611 190.10399999999998 1477.058 175.04199999999997 1431.529 272.576 1363.406 299.144 1304.0140000000001 322.307 1231.613 297.655 1179.327 334.126 1121.878 374.198 1071.565 436.433 1066.435 506.289 1061.35 575.527 1112.5529999999999 634.674 1153.116 691.015 1187.4279999999999 738.674 1236.144 769.1510000000001 1282.05 805.775 1333.874 847.12 1374.571 909.2080000000001 1440 919.892' fill='%23aeddc2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1032'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: round;
}
.background-landing .landing-display {
  width: 1078px;
  height: 50vh;
  display: flex;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 18px;
}
.background-landing .landing-display-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background: #bfefd4;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
.background-landing .landing-display-left h1 {
  color: black;
  margin: 0;
  font-size: 4rem;
}
.background-landing .landing-display-left h2 {
  color: Black;
  margin: 0;
  font-style: italic;
}
.background-landing .landing-display-right {
  background: #aee3c5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  width: 50%;
  background: white;
}
.background-landing .landing-display-right .landing-image {
  width: 75%;
  height: 75%;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.login-container .login-container {
  text-align: center;
  width: 150px;
  height: 100px;
  border: 1px solid black;
  background: white;
  cursor: pointer;
  transition: all 0.4s ease;
}
.login-container .login-container:hover {
  background: black;
}
.login-container .login-container:hover .login {
  color: white;
}

.container {
  width: 1078px;
  margin: 0 auto;
}